@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.listupperwrapper {
    @include smmd {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include mdlg {
        padding-left: 35px;
        padding-right: 35px;
    }
    @include lgxl{
        max-width: 1200px;
        padding-left: 35px;
        padding-right: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}
.index-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    color: var(--main-font);
    .category{
        font-size: 2.5rem;
        font-weight: 800;
        @include smmd{
            font-size: 1.8rem;
        }
    }
    .post{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-weight: 700;
    }
}
.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    .item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--foreground-color);
        transition: all 0.2s ease-in-out;
        word-break: break-all;
        @include smmd{
            flex: 1 1 100%;
        }
        @include mdlg{
            flex: 1 1 40%;
        }
        @include lgxl{
            flex: 1 1 30%;
            &:nth-child(5n-1){
                flex: 1 1 40%;
            }
            &:nth-child(5n){
                flex: 1 1 40%;
            }
        }
        margin: 5px;
        padding: 15px;
        border-radius: 5px; 
        border: 1px solid transparent;
        .title-wrapper {
            padding-bottom: 10px;

            .title {
                font-size: 1.3rem;
                color: var(--bbsub-font);
                font-weight:700;
                transition: all 0.2s ease-in-out;
            }
        }

        .preview-wrapper {
            color: var(--bsub-font);
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        .info-wrapper {
            padding-top: 10px;

            span {
                margin-right: 5px;
                color: var(--sub-font);
                font-size: 14px;
            }
            .view{
                float: right;
            }
        }
        &:hover {
            cursor: pointer;
        }
        @for $i from 1 through 20 {
            &:nth-child(#{$i}):hover {
                border-color: var(--random-front-color-#{($i+3)%8});
                .title {
                    color: var(--random-front-color-#{($i+3)%8});
                }
                
            }
        }
    }

}
.pn-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    a {
        color: var(--sub-font);
        &:hover{
            text-decoration: underline;
        }
    }
    .current {
        a {
            color: var(--highlight-color);
            font-weight: 700;
            font-size: 16px;
        }
    }
    
    ul {
        display: inline-block;
    }
    li {
        display: inline-block;
        padding: 0 5px;
    }
}

