@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.listupperwrapper {
    @include smmd {
        padding: 20px 20px; 
    }     
    @include lgxl {
        padding: 20px 40px;
    }
    @include xl {
        padding: 20px 120px;
    }
    
}
.index-wrapper{
    display: flex;
    justify-content: right;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
    font-weight: 700;
    .category{
        margin-right: 10px;
        font-size: 30px;
    }
}
.item-wrapper{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--highlight-color);
    .title-wrapper{
        padding-bottom: 10px;
        .title{
            font-size: 26px;
            color: var(--highlight-color);
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .preview-wrapper{
        color: var(--main-font);
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .info-wrapper{
        padding-top: 10px;
        span {
            margin-right: 5px;
            color: var(--sub-font);
            font-size: 14px;
        }
    }

}
.pn-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    a {
        color: var(--sub-font);
        &:hover{
            text-decoration: underline;
        }
    }
    .current {
        a {
            color: var(--highlight-color);
            font-weight: 700;
            font-size: 16px;
        }
    }
    
    ul {
        display: inline-block;
    }
    li {
        display: inline-block;
        padding: 0 5px;
    }
}

