@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.listupperwrapper {
    @include smmd {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include mdlg {
        padding-left: 35px;
        padding-right: 35px;
    }
    @include lgxl{
        max-width: 1200px;
        padding-left: 35px;
        padding-right: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}
.index-wrapper{
    display: flex;
    padding: 0px 5px;
    color: var(--main-font);
    @include smmd {
        justify-content: space-between;
        .post{
            margin-bottom: 2px;
        }
    }
    @include mdlg {
        .post{
            margin-bottom: 7px;
        }
    }
    @include lgxl {
        .post{
            margin-bottom: 7px;
        }

    }
    .category{
        font-size: 2.5rem;
        font-weight: 800;
        @include smmd{
            font-size: 1.8rem;
        }
        margin-right: 15px;
    }
    .post{
        color: var(--bsub-font);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-weight: 700;
    }
}
.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    .item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //background-color: var(--foreground-color);
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
        word-break: break-all;
        line-height: 1.6;
        @include smmd{
            flex: 1 1 100%;
        }
        @include mdlg{
            flex: 1 1 40%;
        }
        @include lgxl{
            flex: 1 1 40%;
            //flex: 0 1 320px;
            .title {
                white-space: nowrap;
            }
            /*
            &:nth-child(5n-1){
                flex: 1 1 40%;
            }
            &:nth-child(5n){
                flex: 1 1 40%;
            }
            */
        }
        margin: 5px 5px;
        padding: 25px 30px;
        border: 1px solid var(--border-color);
        border-left: 11px solid var(--border-color);
        padding-right: 40px;
        .title-wrapper {
            .title {
                font-size: 1.4rem;
                line-height: 1.4rem;
                color: var(--bbsub-font);
                font-weight:800;
                transition: all 0.2s ease-in-out;
            }
        }

        .preview-wrapper {
            margin: 10px 0px;
            color: var(--bbsub-font);
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

        .info-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            span, div{
                display: inline-block;
                margin-right: 5px;
                color: var(--bsub-font);
                font-size: 14px;
            }
            .view{
                float: right;
            }
        }
        &:hover {
            cursor: pointer;
            border-left: 20px solid var(--highlight-color); 
            padding-right: 30px;
        }
        @for $i from 1 through 20 {
            &:nth-child(#{$i}):hover {
                border-color: var(--random-front-color-#{($i+3)%8});
                // .title {
                //     color: var(--random-front-color-#{($i+3)%8});
                // }
                
            }
        }
    }

}
.pn-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    a {
        color: var(--sub-font);
        &:hover{
            text-decoration: underline;
        }
    }
    .current {
        a {
            color: var(--highlight-color);
            font-weight: 700;
            font-size: 16px;
        }
    }
    
    ul {
        display: inline-block;
    }
    li {
        display: inline-block;
        padding: 0 5px;
    }
}

