@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.upload-wrapper {
    display: grid; 
    width: 100%;
    height: 100%;
    @include smmd{
        grid-template-rows: 60px minmax(0,1fr);
        grid-template-columns: minmax(0,1fr);
        .menu-panel {
            padding: 8px;
            padding-bottom: 4px;
        }
        .input-panel {
            padding: 8px;
            padding-top: 4px;
        }
        .output-panel {
            display: none;
        }
        
    }
    @include mdlg{
        grid-template-rows: 60px minmax(0,1fr);
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);

        .menu-panel {
            padding: 8px;
            grid-column: 1 / span 2;
            padding-bottom: 4px;
        }
        .input-panel {
            padding: 8px;
            padding-right: 4px;
            padding-top: 4px;
        }
        .output-panel {
            padding: 8px;
            padding-left: 4px;
            padding-top: 4px;
        }
        
    }
    @include lgxl{
        grid-template-rows: 60px minmax(0,1fr);
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);

        .menu-panel {
            padding: 8px;
            grid-column: 1 / span 2;
            padding-bottom: 4px;
        }
        .input-panel {
            padding: 8px;
            padding-right: 4px;
            padding-top: 4px;
        }
        .output-panel {
            padding: 8px;
            padding-left: 4px;
            padding-top: 4px;
        }

    }
}
.menu-panel {
    display: flex;
    .menu-inner {
    background-color: var(--highlight-color);
        border: 1px solid var(--border-color);
        width: 100%;
        padding: 5px 2.5px;
        display: flex;
        flex-wrap: wrap;
        select {
            margin: 0px 2.5px;
            border: none;
            color: var(--main-font);
            border: 1px solid var(--highlight-color);
            background-color: var(--foreground-color);
            cursor: pointer;
            &:focus {
                outline: none;
            }

        }
        input[type="text"] {
            display: inline-block;
            flex: 1 1 300px;
            min-width: 300px;
            margin: 0px 2.5px;
            border: none;
            color: var(--main-font);
            background-color: var(--foreground-color);
            border: 1px solid var(--highlight-color);
            &:focus {
                outline: none;
            }
        }
        input[type="file"]{
            color: var(--main-font);
            background-color: var(--foreground-color);
            margin: 0px 2.5px;
            display: none;
        }
        input[type="date"]{
            color: var(--main-font);
            background-color: var(--foreground-color);
            @include smmd {
                display: none;
            }
            min-width:120px;
            border: 1px solid var(--highlight-color);
            margin: 0px 2.5px;
        }
        input[type="time"]{
            color: var(--main-font);
            background-color: var(--foreground-color);
            @include smmd {
                display: none;
            }
            border: 1px solid var(--highlight-color);
            margin: 0px 2.5px;
        }
        input[type="button"]{
            background-color: var(--foreground-color);
            margin: 0px 2.5px;
            cursor: pointer;
            border: none;
            color: var(--main-font);
            border: 1px solid var(--highlight-color);
            &:hover {
                background-color: var(--highlight-color); 
                color: var(--highlight-font);
            }
        }
    }
}

.inner {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 100%;
}
.postInput {
    font-family: "SF Mono", "Consolas", "Menlo", monospace;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    resize: none;
    border: none;
    color: var(--main-font);
    background-color: var(--foreground-color);
    &:focus {
        outline: none;
        border: none;
    }
}

.markdown-wrapper {
    padding: 5px 8px;
    overflow-y: scroll;
    background-color: var(--foreground-color);
}

