@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.profile-wrapper {
    @include smmd {
        padding: 20px 20px; 
    }     
    @include lgxl {
        padding: 20px 40px;
    }
    @include xl {
        padding: 20px 100px;
    }
}



