@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.profile-wrapper {
    @include smmd {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include mdlg {
        padding-left: 35px;
        padding-right: 35px;
    }
    @include lgxl{
        max-width: 1200px;
        padding-left: 35px;
        padding-right: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}



