$polar-bg: #0d1b2a;
$polar-fg: #1b263b;
$polar-df: #415a77;
$polar-lf: #E0E1DD;
$polar-sh: #C6C7C3;
$polar-sel: #082032;
$polar-selin: #2C394B;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
