@use '../../styles/variables' as *;

.header {
    padding: 10px 20px;
    padding-bottom: 5px;
    color: $polar-lf;
    font-weight: 700;
}
.upper-category-list {
    padding: 0px 30px;
    
    cursor: pointer;
    > li {
        font-size: 14px;
        padding: 2px 10px;    
        color: $polar-lf;
        &:hover {
            background-color: $polar-sel;
        }
    }
    .lower-category-list {
        > li {
            padding: 2px 14px;
            color: $polar-lf;
            border-left: 1px solid $polar-lf;
            &:hover {
                background-color: $polar-selin;
            }
        }
    }
      
}

