@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.wrapper {
    color: var(--main-font);
    @include smmd {
        padding: 20px 20px; 
    }     
    @include lgxl {
        padding: 20px 40px;
    }
}



