@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.toc-wrapper {
    display: flex;
    justify-content: left;
    margin: 5px 0;
    padding-left: 5px;
    position: sticky;
    position: --webkit-sticky;
    top: 30px;
    font-size: 14px;
    word-break: break-all;
    a{
        padding: 3px 0px;
        display: inline-block;
        color: var(--sub-font);
        margin-left: 1px;
        border-left: 1px solid var(--sub-font);
        
        &:hover {
            color: var(--main-font);
        }
    }
    .active > a{
        margin-left: 0px;
        color: var(--main-font);
        border-left: 3px solid var(--main-font);
    }

    > ul{
        >li > a{
            padding-left: 5px;
        }
        >li > ul {
            >li > a {
                padding-left: 20px;

            }
            >li > ul{
                >li > a{
                    padding-left: 35px;

                }
            }
        }
    }
}
