@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

.toc-wrapper {
    display: flex;
    justify-content: right;
    padding: 10px 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    font-size: 14px;
    @include smmd {
        display: none;
    }
    a{
        color:grey;
        &:hover {
            color: $polar-lf;
        }
    }
    .active > a{
        color: $polar-lf;
    }

    > ul{
        >li > ul{
            padding-left: 15px;
            >li > ul{
                padding-left: 15px;
            }
        }
    }
    
}
