@use '../../styles/variables' as *;

.category-wrapper {
    padding: 5px 0px;
}
.upper-category-list {
    > li {
        color: var(--bsub-font);
    }
    .lower-category-list {
        > li {
            padding-left: 15px;
            color: var(--sub-font);
        }
        
    }
      
}
.category-text{
    font-size: 14px;
    padding-bottom: 4px;
    white-space: nowrap;
    >span:hover {
        text-decoration: underline;
        cursor: pointer;
        color: var(--main-font);
    }
}

