@use '../../styles/variables' as *;

.category-wrapper {
    padding: 5px 0px;
}
.upper-category-list {
    > li {
        font-size: 14px;
        color: var(--bsub-font);
    }
    .lower-category-list {
        > li {
            padding: 0px 20px;
            color: var(--sub-font);
        }
        
    }
      
}
.category-text{
    >span:hover {
        text-decoration: underline;
        cursor: pointer;
        color: var(--main-font);
    }
}

