@use '../../styles/variables' as *;

.header {
    padding: 0px 20px;
    padding-bottom: 5px;
    color: $polar-lf;
    font-weight: 700;
}
.upper-category-list {
    padding: 0px 30px;
    
    cursor: pointer;
    > li {
        font-size: 14px;
        padding: 0px 15px;    
        color: $polar-lf;
        line-height: 20px;
        >span:hover {
            text-decoration: underline;
        }
            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 20px;
                transform: translateX(-10px);
                background-color: $polar-lf;
            }
    }
    .lower-category-list {
        > li {
            padding: 0px 30px;
            color: $polar-lf;
            line-height: 20px;
            //border-left: 1px solid $polar-lf;
            >span {
                display: block;
            }
            >span:hover {
                text-decoration: underline;
            }
            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 20px;
                transform: translateX(-40px);
                background-color: $polar-lf;
            }
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 20px;
                background-color: $polar-lf;
                transform: translateY(-20px) translateX(-10px);
            }
        }
        
    }
      
}

