@use '../../styles/mixin' as *;

.avatar-wrapper{
    @include smmd{
        display: none; 
    }
    .image-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        .common-image {
            width: 100%;
            padding-bottom: 100%;
            background-image: url(./avatar.jpg);
            background-position: calc(var(--mouse-x)*0.025px + -75px) calc(var(--mouse-y)*0.025px + -75px);
            border: 1px solid var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
        color: var(--main-font);
        padding-bottom: 5px;
    }
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    >div {
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.avatar-name {
    color: var(--main-font);
}
.avatar-greeting {
    color: var(--bsub-font);
    font-size: 14px;
    >a{
        color: var(--sub-font);
    }
}