@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;
@use '../../styles/github-markdown.css' as *;

@keyframes smoothAppear {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.upwrapper {
    .index{
        width: 100%;
        word-break: keep-all;
        color: var(--highlight-font); 
        background-color: var(--highlight-color);
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 10px;
        span {
            padding: 0px 4px;
        }
        a {
            color: var(--highlight-font);
        }
        @include smmd{
            height: 300px;
            padding-top: 50px;
            .index-down {
                width: 100%;
                padding: 0 20px;
                margin: auto 0;
                .index-category{
                    font-size: 1rem;
                    font-weight: 700;
                }
                .title {
                    font-size: 2rem;
                    line-height: 2.2rem;
                    font-weight: 800;
                    padding: 10px 0;
                }
            
                .payload {
                    display: flex;
                    justify-content: center;
                    font-size: 14px;
                    flex-direction: column;
                    >span {
                        margin-top: 2px;
                    }
                }
            
                .options {
                    display: flex;
                    font-size: 14px;
                    span {
                        cursor: pointer;
                    }
                }

            }
        }
        @include mdlg{
            height: 300px;
            .index-down {
                width: 100%;
                padding: 0 30px;
                margin: auto 0;
                .index-category{
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                .title{
                    padding: 10px 0;
                    text-align: center;
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                    font-weight: 800;
                }
                .payload{
                    text-align: center;
                    font-size: 14px;
                }
                .options{
                    text-align: center;
                    font-size: 14px;
                    span {
                        cursor: pointer;
                    }
                }
            }
        }
        @include lgxl{
            height: 400px;
            .index-down{
                width: 1200px;
                padding: 0 35px;
                margin: auto 0;
                .index-category{
                    text-align: center;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                .title{
                    padding: 20px 0;
                    font-size: 3.0rem;
                    line-height: 3.0rem;
                    font-weight: 800;
                    text-align: center;
                }
                .payload{
                    text-align: center;
                    font-size: 1rem;
                }
                .options{
                    text-align: center;
                    font-size: 1rem;
                    span {
                        cursor: pointer;
                    }
                }

            }
        }
        .index-category {
            animation: smoothAppear 1s; 
        }
        .title {
            animation: smoothAppear 1s;
        }
        .payload {
            animation: smoothAppear 1s; 
        }
        .options {
            animation: smoothAppear 1s; 
        }
        
    }
    .postcontent {
        @include smmd {
            padding-left: 20px;
            padding-right: 20px;
            .postinnercontent {
                padding-top: 20px;
            }
            .tocwrapper{
                display: none;
            }

        }
        @include mdlg {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            .postinnercontent{
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 16px;
                padding-top: 20px;
                > div {
                    width: 100%;
                    max-width: 768px;
                }
            }
            .tocwrapper{
                padding: 0 16px;
                padding-top: 20px;
                display: flex;
                justify-content: center;
                .tocinnerwrapper{
                    width: 100%;
                    max-width: 768px;
                }
            }
        }
        @include lgxl{
            display: flex;
            justify-content: center;

            width: 100%;
            .postinnercontent{
                flex: 0 0 800px;
                min-width: 800px;
                padding: 0 16px;
                padding-top: 20px;
            }
            .tocwrapper{
                padding-top: 15px;
                padding-left: 20px;
                width: 200px;
                flex: 0 0 200px;
                .tocinnerwrapper{
                    height: 100%;
                }
            }
            .dummywrapper{
                flex: 0 1 200px;
            }
        }
    }

}

/*markdown overwrite*/
.markdown-body {
    box-sizing: content-box;
    >p, >pre, >ul, >ol {
        color: var(--bbsub-font);
    }
    img {
        display: block;
        margin: auto;
        max-height: 500px;
        &:hover {
            cursor: pointer;
        }
    }
    pre {
        background-color: var(--foreground-color);
        border: 1px solid var(--border-color);
        border-radius: 0px;
        font-size: 14px;
        
        > code {
            font-family: "SF Mono", "Consolas", "Menlo", monospace;
        }
    &::-webkit-scrollbar {
        height: 16px;
    }     
    &::-webkit-scrollbar-thumb {
        background-color: var(--bsub-font);
        border: 2px solid var(--foreground-color);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--foreground-color);
    }
    }
    table {
        display: block;
    }
    hr {
        background-color: var(--sub-font);
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 5px;
        >a {
            color: var(--main-font);
            
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
            &:active{
                text-decoration: none;
            }
        }
        border: none;
    }
    h1 {
        font-size: 1.75rem;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.75rem;
    }
    h6 {
        font-size: 0.75rem;
    }
    blockquote {
        >p{
            margin-left: 0px;
        }
    }
}