@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;
@use '../../styles/github-markdown.css' as *;

@keyframes smoothAppear {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.upwrapper {
    .index{
        width: 100%;
        word-break: keep-all;
        color: var(--highlight-sub-font);
        background-color: var(--highlight-color);
        display: flex;
        justify-content: center;
        width: 100%;
        a {
            color: var(--highlight-font);
        }
        @include smmd{
            height: 280px;
            padding-top: 50px;
            .index-down {
                width: 100%;
                padding: 0 20px;
                margin: auto 0;
                .index-category{
                    font-size: 1rem;
                    text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                }
                .title {
                    font-size: 30px;
                    line-height: 40px;
                    padding: 15px 0;
                    font-weight: 700;
                    >span {
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                    }
                }
            
                .payload {
                    display: flex;
                    font-size: 14px;
                    flex-direction: column;
                    text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                }
            
                .options {
                    display: flex;
                    font-size: 14px;
                    margin-top: 20px;
                    span {
                        margin-right: 5px;
                        cursor: pointer;
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                        a {
                            color: var(--highlight-sub-font);
                        }
                    }
                }

            }
        }
        @include mdlg{
            .index-down {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 830px;
                padding: 50px 30px;
                .index-category{
                    text-align: right;
                    font-size: 1.2rem;
                    text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                }
                .title{
                    padding: 30px 0;
                    text-align: center;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 2.5rem;
                    span {
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                    }
                }
                .payload{
                    display: flex;
                    font-size: 1rem;
                    span {
                        padding-right: 20px;
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                    }
                }
                .options{
                    text-align: left;
                    font-size: 1rem;
                    margin-top: 10px;
                    span {
                        padding-right: 5px;
                        cursor: pointer;
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                        a {
                            color: var(--highlight-sub-font);
                        }
                    }
                }
            }
        }
        @include lgxl{
            height: 400px;
            .index-down{
                width: 1200px;
                padding: 0 35px;
                padding-top: 70px;
                margin: auto 0;
                .index-category{
                    text-align: center;
                    font-size: 1.5rem;
                    display: flex;
                    transform: rotate(-10deg);
            
                    span {
                        width: 100%;
                        float: left;
                        transform: skew(-10deg);
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                    }
                }
                .title{
                    padding: 40px 0;
                    font-size: 3.2rem;
                    line-height: 3.2rem;
                    font-weight: 700;
                    text-align: center;
                    display: flex;
                    transform: rotate(-10deg);
            
                    span {
                        width: 100%;
                        float: left;
                        transform: skew(-10deg);
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                    }
                }
                .payload{
                    font-size: 1.1rem;
                    width: 100%;
                    text-align: right;
                    display: flex;
                    transform: rotate(-10deg);
                    flex-direction: column;
                    span {
                        padding-right: 11px;
                        transform: skew(-10deg);
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                    }
                }
                .options{
                    margin-top: 20px;
                    text-align: center;
                    font-size: 1.1rem;
                    span {
                        cursor: pointer;
                    }
                    width: 100%;
                    text-align: right;
                    display: flex;
                    transform: rotate(-10deg);
                    justify-content: flex-end;
                    span {
                        transform: skew(-10deg);
                        padding-left: 5px;
                        text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--shadow) 4px 4px;
                        a {
                            color: var(--highlight-sub-font);
                        }
                    }
                }

            }
        }
        
    }
    .tocheader{
        position: sticky;
        display: flex;
        justify-content: center;
        width: 100%;
        line-height: 24px;
        background-color: var(--highlight-opacity-color);
        -webkit-backdrop-filter: saturate(180%) blur(15px);
        backdrop-filter: saturate(180%) blur(15px);
        color: var(--highlight-font);

        @include smmd{
            padding: 0px 20px;
            top: 53px;
            .tocheader-inner{
                width: 100%;
                text-align: right;
            }
        }
        @include mdlg{

        }
        @include lgxl{
            top: 0px;
            .tocheader-inner{
                width: 800px;
                padding: 0px 20px;
                text-align: right;
            }

                
        }
    }
    .postcontent {
        @include smmd {
            padding-left: 20px;
            padding-right: 20px;
            .postinnercontent {
                padding-top: 20px;
            }
            .tocwrapper{
                display: none;
            }

        }
        @include mdlg {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            .postinnercontent{
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0 16px;
                padding-top: 20px;
                > div {
                    width: 100%;
                    max-width: 768px;
                }
            }
            .tocwrapper{
                padding: 0 16px;
                padding-top: 20px;
                display: flex;
                justify-content: center;
                .tocinnerwrapper{
                    width: 100%;
                    max-width: 768px;
                }
            }
        }
        @include lgxl{
            display: flex;
            justify-content: center;

            width: 100%;
            .postinnercontent{
                flex: 0 0 800px;
                min-width: 800px;
                padding: 0 16px;
                padding-top: 20px;
            }
            .tocwrapper{
                padding-top: 15px;
                padding-left: 20px;
                flex: 0 0 300px;
                .tocinnerwrapper{
                    height: 100%;
                }
            }
            .dummywrapper{
                flex: 0 1 300px;
            }
        }
    }

}

/*markdown overwrite*/
.markdown-body {
    box-sizing: content-box;
    >p, >pre, >ul, >ol {
        font-size: 1em;
        color: var(--main-font);
        line-height: 1.65;
    }
    >p {
        padding: 10px 0px;
        margin-bottom: 0px;
    }
    img {
        display: block;
        margin: auto;
        max-height: 500px;
        &:hover {
            cursor: pointer;
        }
    }
     code {
        font-family: "SF Mono", "Consolas", "Menlo", monospace;
    }
    pre {
        background-color: var(--foreground-color);
        border: 1px solid var(--border-color);
        border-radius: 0px;
        font-size: 14px;
        > code {
            font-family: "SF Mono", "Consolas", "Menlo", monospace;
        }
    &::-webkit-scrollbar {
        height: 16px;
    }     
    &::-webkit-scrollbar-thumb {
        background-color: var(--bsub-font);
        border: 2px solid var(--foreground-color);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--foreground-color);
    }
    }
    table {
        display: block;
    }
    hr {
        background-color: var(--sub-font);
    }
    h1,h2,h3,h4,h5,h6 {
        display: inline-block;
        font-weight: 700;
        width: 100%;
        margin: 0px;
        >a {
            color: var(--main-font);
            
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
            &:active{
                text-decoration: none;
            }
        }
        border: none;
    }
    h1 {
        //padding-top: 64px;
        //padding-bottom: 32px;
        font-size: 2rem;
    }
    h2 {
        margin-top: 64px;
        //padding-bottom: 32px;
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
        margin-top: 32px;
        //padding-bottom:5px;
    }
    h4 {
        font-size: 1rem;
        margin-top: 16px;
        //padding-bottom:5px;
    }
    h5 {
        font-size: 0.875rem;
        margin-top: 8px;
        //padding-bottom:5px;
    }
    h6 {
        font-size: 0.85rem;
        //padding-top: 32px;
        //padding-bottom:5px;
    }
    blockquote {
        >p{
            margin-left: 0px;
        }
    }
}