@use '../../styles/mixin' as *;

.logo-wrapper{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > a {
        position: absolute;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 800;
        color: var(--bbsub-font);
        &::after{
            position: relative;
            display: block;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: var(--bbsub-font);
            transform: translateY(4px);
            transition: all 0.3s ease 0s;
        }
        &:hover::after{
            width: 100%;
        }
    }
    
}

@include smmd {
    .notsmmd {
        display: none;
    }
    .smmd{
        display: inline;
    }
}
@include mdlg {
    .notsmmd {
        display: inline;
    }
    .smmd{
        display: none;
    }

}
@include lgxl {
    .notsmmd {
        display: inline;
    }
    .smmd{
        display: none;
    }

}