@use '../../styles/variables' as *;
.logo-wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    transition: all 0.3s ease 0s;
    > a {
        text-decoration: none;
        color: var(--main-font);
        line-height: 46px;
        font-weight: 700;
        font-size: 16px;
        text-decoration: overline ;
        text-shadow: 5px 5px #00ff00;
    }
    &:hover {
        background-color: var(--highlight-color);
    }
}


