@use './styles/reset' as *;
@use './styles/mixin' as *;
@use './styles/variables' as *;
* {
    box-sizing: border-box;
}

html{
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
    background: var(--background-color);
}
body{
    width: 100%;
    height: 100%;
}
#root {
    width: 100%;
    height: 100%;
}
///* //light color
:root {
    --background-color: #f7f7f7;
    --foreground-color: #ffffff;
    --main-font: rgba(0,0,0,0.87);
    --bsub-font: rgba(0,0,0,0.60);
    --sub-font: rgba(0,0,0,0.38);
    --border-color: rgba(0,0,0,0.12);
    --highlight-color: #356349;
    --reverse-color: #121212;
    --reverse-font: rgba(255,255,255,0.87);
    --float-color: hsl(0,0%,100%);
}
//*/

.dark-mode {
    --background-color: #121212;
    --foreground-color: #1e1e1e;
    --main-font: rgba(255,255,255,0.87); 
    --bsub-font: rgba(255,255,255,0.60);
    --sub-font: rgba(255,255,255,0.38);
    --border-color: rgba(255,255,255,0.12);
    --highlight-color: #42887b;
    --reverse-color: #f7f7f7;
    --reverse-font: rgba(0,0,0,0.87);
    --float-color: #030d16; 
}
