@use './styles/reset' as *;
@use './styles/mixin' as *;
@use './styles/variables' as *;
* {
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    background: $polar-bg;
}
body{
    width: 100%;
    height: 100%;
}
#root {
    width: 100%;
    height: 100%;
}


