@use '../../styles/variables' as * ;
@use '../../styles/mixin' as *;

//dependent
//dependent end
.indexwrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-bottom: 0px;
    @include smmd {
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
        .innerwrapper{
            flex-direction: column;
            .dummydiv{
                display: none;
            }
        }
    }
    @include mdlg {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include lgxl{
        max-width: 1200px;
        padding-left: 35px;
        padding-right: 35px;
        margin: 0 auto;
    }
    code {
        background: none;
    }
}
.innerwrapper {
    display: flex;
    .item{
        border: 1px solid var(--highlight-color);
        margin-bottom: 10px;
        flex: 1 1 100%;
        .item-header{
            display: flex;
            height: 40px;
            justify-content: space-between;
                background-color: var(--foreground-color);
            .title {
                color: var(--main-font);
                font-size: 16px;
                font-weight: 700;
                line-height: 40px;
                margin-left: 10px;
            }
            .icons{
                display: flex;
                align-items: center;
                margin-right: 10px;
                .circle{
                    &:nth-child(1){
                        background-color: #FF605C;
                    }
                    &:nth-child(2){
                        background-color: #FFBD44;
                    }
                    &:nth-child(3){
                        background-color: #00CA4E;
                    }
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                    border-radius: 8px;
                }
            }

        }
    }
    .dummydiv{
        flex: 0 0 10px;
        padding: 0px;
    }
}
.codewrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    width: 100%;
    border-top: 1px solid var(--highlight-color);
    > div{
        >input {
            margin-top: 5px;
            height: 20px;
            color: var(--main-font);
            background-color: var(--foreground-color);
            border: 1px solid var(--border-color);
            border-radius: 2px;
            float: right;
            cursor: pointer;
        }
    
        input:focus {
            text-decoration: none;
            outline: none;
            border: 1px solid var(--border-color);
            border-radius: 2px;
            background-color: var(--highlight-color);
        }
    
        input:hover {
            border: 1px solid var(--border-color);
            border-radius: 2px;
            background-color: var(--highlight-color);
            color: var(--highlight-font);
        }
    } 
}
.dummycode{
    border: 1px solid var(--highlight-color);
    border-top: 0px;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: pre-wrap;
    display: inline-block;
    font-size: 16px;
    color: var(--bbsub-font);
    >div{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .hi {
        color: #00ff00;
        font-weight: 700;
    }
}



