@use '../styles/mixin' as *;
@use '../styles/variables' as *;

.top {
    height: 100%;
}
@include smmd{
    .side-on {
        width: 100%;
        height: 100%;
    }

    .side-off {
        width: 100%;
        height: 0;
        padding: 0 !important;
    }
}
@include mdlg{
    .side-on {
        width: 0;
        height: 0;
        padding: 0 !important;
    }

    .side-off {
        width: 0;
        height: 0;
        padding: 0 !important;
    }

}
@include lgxl{
    .side-on {
        width: 0;
        height: 0;
        padding: 0 !important;
    }

    .side-off {
        width: 0;
        height: 0;
        padding: 0 !important;
    }
}
.smmd-side {
    z-index: 999;
    position: fixed;
    overflow: hidden;
    //overflow-y: auto;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    margin-top: 49px;
    background-color: var(--highlight-sub-color);
    color: rgba(255,255,255,0.87) !important; 

    .welcome{
        text-align: center;
        color: var(--main-font);
        font-size: 1rem;
    }
    .smmd-side-item{
        text-align: center;
        padding-top: 5px;
        a {
            display: inline-block;
            color: var(--main-font);
            position: relative;
            &::after {
                position: relative;
                display: block;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: var(--main-font);
                transform: translateY(4px);
                transition: all 0.3s ease 0s;
            }
        
            &:hover::after {
                width: 100%;
            }
        }
    }
    .smmd-side-title{
        color: var(--main-font);
        padding-bottom: 15px;
        font-weight: 700;
        text-decoration: underline;
        text-align: center;
    }
    .smmd-side-wrapper{
        display: flex;
        padding-top: 10px;
        justify-content: center;
        .smmd-side-category-wrapper{
            display: flex;
            padding: 10px 15px;
            padding-left: 20px;
            width: 50%;
            flex-direction: column;
            align-items: left;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            margin-right: 5px;
        }
        .smmd-side-toc-wrapper{
            display: flex;
            padding: 10px 15px;
            padding-right: 20px;
            flex: 1 1 50%;
            flex-direction: column;
            align-items: left;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            margin-left: 5px;
        }
    }
}
.content {
    width: 100%;
}

.top-button {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    svg {
        fill: var(--bbsub-font);
    } 
}
.top-button-visible {
    opacity: 1;
}
.dark-switch {
    position: fixed;
    cursor: pointer;
    width: 24px;
    height: 24px;
    bottom: 20px;
    left: 20px;
    border: none;
    border-radius: 5px;
    padding: 0;
    transition: 0.3s ease 0s;
    svg {
        fill: var(--bbsub-font);
    }
}
.lfooter{
    box-sizing: border-box;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: var(--sub-font);
    }
}
