@use '../styles/mixin' as *;
@use '../styles/variables' as *;

.panel-wrapper {
    background: url('./background.jpg');
    background-attachment: fixed;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    @include smmd {
        .panel-smmd-category-off{
            display: none;
        }
        .panel-smmd-category-on{
            display: block;
        }
    } 
    @include lgxl {
        .panel-smmd-category-off{
            display: none;
        }
        .panel-smmd-category-on{
            display: none;
        }
    }
}

.category-on {
    @include smmd {
        grid-template-rows: 60px auto 1fr;
        grid-template-columns: minmax(0,1fr);
    }
    @include lgxl {
        grid-template-columns: 250px minmax(0,1fr);
    }
    @include xl{
        grid-template-columns: 250px 950px; 
    }
}
.category-off {
    @include smmd {
        grid-template-rows: 60px 1fr;
        grid-template-columns: minmax(0,1fr);
    }
    @include lgxl {
        grid-template-columns: 250px minmax(0,1fr);
    }
    @include xl{
        grid-template-columns: 250px 950px; 
    }
}

@mixin panel-common {
    display: grid;
    width: 100%;
    height: 100%;
    border: 1px solid $polar-df;
    border-radius: 5px;
}

.panel-menu {
    box-sizing: border-box;
    @include smmd {
        padding: 8px;
        padding-bottom: 4px;
    }
    @include lgxl {
        padding: 8px;
        padding-right: 4px;
    }
    >div {
        backdrop-filter: blur(15px);
        @include panel-common;
        @include smmd {
            grid-template-columns: 1fr 5fr 1fr;
        }
        @include lgxl {
            grid-template-rows: 46px 1fr;
        }
        .a{
            @include lgxl {
                display: none;
            }
            .bg-btn{
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .5s ease-in-out;
            }
        }
        .b{
            height: 100%;
            @include lgxl {
                border-bottom: 1px solid $polar-df;
            }
        }
        .c{
            .category-wrapper {
                @include smmd{
                    display: none;
                }
            }
            .upload-link-wrapper {
                @include smmd {
                    display: none;
                }
            }
        }
    }
}
//애니메이션은 따로 분리해서 써야 제대로 작동함. 중첩하면 꼬임
.burger-btn{
    width: 20px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
} 
.burger-btn::before,
.burger-btn::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.burger-btn::before{
    transform: translateY(-8px);
}
.burger-btn::after{
    transform: translateY(8px);
}
.bg-btn.btn-open .burger-btn{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
} 
.bg-btn.btn-open .burger-btn::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.bg-btn.btn-open .burger-btn::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.panel-smmd-category-on .panel-smmd-category-off {
    transition: left .3s;
}


.panel-content {
    box-sizing: border-box;
    @include smmd {
        padding: 8px;
        padding-top: 4px;

    }
    @include lgxl {
        padding: 8px;
        padding-left: 4px;
    }
    >div{
        @include panel-common;
        backdrop-filter: blur(15px);
        //background-color: rgba(0,0,0,0.5);
        display: block;
        width: 100%;
    }
}

.user-wrapper{
    display: flex;
    width: 100%;
    color: $polar-lf;
    transition: 0.3s ease 0s;
    @include smmd{
        justify-content: center;
        line-height: 46px;
        height: 100%;
        font-size: 14px;
        .greeting {
            display: none;
        }
    }
    @include lgxl{
        border-bottom: 1px solid $polar-df;
        justify-content: space-evenly;
        line-height: 46px;
        font-size: 14px;
        .greeting{
            > i{
                margin-left: 5px;
                font-size: 12px;
            }
        }
    }
    &:hover {
        background-color: #3071A9;
    }
}

.upload-link-wrapper{
    display: flex;
    width: 100%;
    color: $polar-lf;
    transition: 0.3s ease 0s;
    cursor: pointer;
    @include smmd{
        justify-content: center;
        line-height: 45px;
        height: 45px;
        font-size: 14px;
    }
    @include lgxl{
        border-bottom: 1px solid $polar-df;
        justify-content: space-evenly;
        line-height: 46px;
        font-size: 14px;
        &:hover {
            background-color: #3071A9;
        }
    }
    
}

.top-button {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 30px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    .up-arrow {
        width: 100%;
        height: 100%;
    }
    .up-arrow::before,.up-arrow::after{
        content: '';
        width: 4px;
        height: 25px;
        background-color: $polar-lf;
        position: absolute;
    }
    .up-arrow::before{
        transform: translateX(5px) rotate(45deg);
    }
    .up-arrow::after{
        transform: translateX(21px) rotate(-45deg);
    }
    
}
.top-button-visible {
    opacity: 1;

}
