@use '../styles/mixin' as *;
@use '../styles/variables' as *;

@include smmd{
    .side-on {
        width: 100%;
        height: 100%;
    }

    .side-off {
        width: 100%;
        height: 0;
        padding: 0 !important;
    }
}
@include mdlg{
    .side-on {
        width: 0;
        height: 0;
        padding: 0 !important;
    }

    .side-off {
        width: 0;
        height: 0;
        padding: 0 !important;
    }

}
@include lgxl{
    .side-on {
        width: 0;
        height: 0;
        padding: 0 !important;
    }

    .side-off {
        width: 0;
        height: 0;
        padding: 0 !important;
    }
}

.smmd-side {
    z-index: 999;
    position: fixed;
    overflow: hidden;
    text-overflow: hidden;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
    margin-top: 50px;
    background-color: var(--highlight-sub-color);
    .welcome{
        text-align: right;
        color: var(--main-font);
        font-size: 1rem;
    }
    .smmd-side-item{
        text-align: right;
        padding-top: 5px;
        a {
            display: inline-block;
            color: var(--main-font);
            position: relative;
            &::after {
                position: relative;
                display: block;
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: var(--main-font);
                transform: translateY(4px);
                transition: all 0.3s ease 0s;
            }
        
            &:hover::after {
                width: 100%;
            }
        }
    }
    .smmd-side-title{
        color: var(--main-font);
        padding-top: 25px;
        font-weight: 700;
    }
}
.content {
    width: 100%;
}

.top-button {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    svg {
        fill: var(--bbsub-font);
    } 
}
.top-button-visible {
    opacity: 1;
}
.dark-switch {
    position: fixed;
    cursor: pointer;
    width: 24px;
    height: 24px;
    bottom: 20px;
    left: 20px;
    border: none;
    border-radius: 5px;
    padding: 0;
    transition: 0.3s ease 0s;
    svg {
        fill: var(--bbsub-font);
    }
}
.lfooter{
    box-sizing: border-box;
    padding: 0 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: var(--sub-font);
    }
}
